.subscribe-box {
    max-width: 450px;
}
.subscribe-box-wrapper {
    text-align: center;
}
.subscribe-title {
    font-size: 14px;
    line-height: 1.143;
    color: $white-color;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
}
.subscribe-email {
    margin: 0 auto;
    width: 100%;
    height: 50px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(255, 255, 255, 0.6);
    background:transparent;
    cursor: pointer;
    &:not(:placeholder-shown):valid {
        border-color: $accent-color;
        }
    &:not(:placeholder-shown):invalid {
        border-color: red;
        }
    &:hover, &:focus {
        border-color: $accent-color;
        }
    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
        color: rgba(255, 255, 255, 0.6);
        }
}
.subscribe-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;
    color: $white-color;
    width: 200px;
    height: 50px;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px; 
    cursor: pointer;
    margin: 20px auto 60px;
    &::after {
        content: '';
        display: block;
        background-image: url(../svg/icon-subscribe.svg);
        width: 24px;
        height: 24px;
        } 
}


